<span id="spacing" style="display:inline-block; width: 0px;"></span>


<footer class="footer unique-color-dark text-center" >
    <div class="icons">
       <a href="#"><i class="fa fa-facebook"></i></a>
       <a href="#"><i class="fa fa-linkedin"></i></a>
       <a href="#"><i class="fa fa-instagram"></i></a>
       <a href="#"><i class="fa fa-twitter"></i></a>
       
        <p class="company-name">
            ABC &copy; 2021, ALL Rights Reserved
        </p>
    </div>
</footer>
  
<!-- <script src="app.html"></script> -->
<script src="app.js"></script>
</body>
</html>