<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.8/tailwind.min.css">
       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">        <title>Title</title>
        <link rel="stylesheet" href="/css/style.css" />  
        <link rel="stylesheet" href="/css/bootstrap-social.css" />  

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        

    </head>
    <body  class="antialiased bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">

        


        <!-- <header class="hm-gradient"> -->
          <main>
        
      

            <!--Navbar -->
            <nav class="mb-4 navbar navbar-expand-lg navbar-dark unique-color-dark sticky autohide " style="
            padding-bottom: 0px;
            padding-top: 0px;
        ">
              <div class="container">

                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item ">
                            <a class="nav-link" href="/"><i class="fas fa-sign-in-alt"></i>Home</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> login <span class="sr-only">(current)</span></a>
                      </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-newspaper-o"></i> Media </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="#">Facebook</a>
                                <a class="dropdown-item" href="#">Instagram</a>
                            </div>
                        </li>
                    </ul>
                </div>
              </div>

            </nav>
            <!--/.Navbar -->
          
        <!--MDB Navbars-->
    </main>

    <span id="spacing" style="display:inline-block; width: 0px;"></span>

          <!-- </header> -->


                                          <!-- inline javascript -->

          
          <script>
            document.addEventListener("DOMContentLoaded", function(){

el_autohide = document.querySelector('.autohide');

// add padding-top to bady (if necessary)
navbar_height = document.querySelector('.navbar').offsetHeight;
document.body.style.paddingTop = navbar_height + 'px';

if(el_autohide){
  var last_scroll_top = 0;
  window.addEventListener('scroll', function() {
        let scroll_top = window.scrollY;
       if(scroll_top < last_scroll_top) {
            el_autohide.classList.remove('scrolled-down');
            el_autohide.classList.add('scrolled-up');
        }
        else {
            el_autohide.classList.remove('scrolled-up');
            el_autohide.classList.add('scrolled-down');
        }
        last_scroll_top = scroll_top;
  }); 
  // window.addEventListener
}
// if

});
          </script>

                                                    <!-- inline javascript -->





                                                    