
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 25px;
}



.content{   
    border: 1px solid black;
   border-radius: 6px;
 
   padding: 20px  10px 20px 20px;

   /* margin-bottom: 15px;
   margin-right: 10px;
   margin-left: 10px; */
   margin:13px;
   
   height:211px;
width: 290px;
   
/*   
   border: 1px solid #3d464e;
   height:211px;
width: 290px;
padding: 30px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-top: 10px; */
}
img {
   
   height: 55px;
   width: 55px;
   border-radius: 100%;
   margin-top: 8px;
   margin-left:2px;
   
 }
 .paraCol{

   padding-left: 30px;

 }
 p{
     line-height: 25px;
     margin: 0;
 }
 .briefPara{
     color:black;
 }
 a {
   color: #ffffff;
   text-decoration: none;
 }
.fa{
 
}

#table{
    
  display: flex;
  justify-content: center;
}


.content-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.content-item:hover {
  transform: translate(0, -3px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}


.hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}
.darken-grey-text {
  color: #2E2E2E;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.customPadding{
  padding-top: 100px;
  padding-bottom: 40px;
  color: #1C2331;
}

/* .sub-title{
  color: #E5E4E2;
} */

/* .animated_rainbow_1 {
  font-size: 42px;
  font-family: Arial Black, Gadget, sans-serif;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}

@keyframes animatedBackground_a {
  0% { background-position: 0 0 }
  100% { background-position: -500px 0 }
} */

.css-christmas-color {
    background: linear-gradient(120deg, #2836d1bd, #2f35e4, #e122e7, #550336);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    /* font-size: 50px; */
    /* font-weight: bold; */
    display: inline-block;
}



.footer{
  /* position: fixed; */
 
  /* background: #263238;
  text-align: center;
  color: white;
  height: 60px;
  position: ;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%; */
  /* scroll-padding: ; */
     background-color: #263238;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    overflow:hidden;
    margin-top: 90px;
    /* padding-bottom: 20px;
    margin-bottom: 20px; */
}



.icons{
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0.5rem;
  color: #f4f4f4;
  /* border: #f4f4f4 solid;
  border-radius: 25%;
  */
}



/* @media (max-width: 500px){
  html{
      font-size: 50%;
  }
}    

@media(min-width: 501px) and (max-width: 768px){
  html{
  font-size: 50%;
  }
}     */




.autohide{
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}