
<%- include("partials/header"); -%>



        <div class="container">
            <div class="row row-cols-2 row-cols-lg-3  " id="table"  >

     
               

                <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>


                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>


                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>



                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>



                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>




                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>




                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>



                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>



                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>




                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>




                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>




                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>





                  <div class="content content-item">

                    <div class="row  row-cols-auto ">
                      <!-- <figure class="effect-steve"> -->

                        <div class="col imgcol">
                            <div class="col-xs-4">
                                <a id="anchor"> <img src="img.jpg"></a>
                            </div>
                        </div>
                        <div class="col paraCol ">
                            <p>
                            
                                <a id="anchor"> @virtualuser</a><br>
                                <i class="fa fa-instagram  fa-sm" style="font-size: 0.8rem"></i> 236.9k<br>
                                <small><i class="fa fa-clock-o  text-muted"  style="font-size: 0.7rem"></i><span class="text-muted"> 5 days ago</span></small><br>
                                $3,199.00
                            </p>
                        </div>
                      <p class="briefPara ">traveling &photographer Account High Engagement , very active followers, Original email included,...</p>
                    <!-- </figure> -->

                    </div>
                  </div>


                  <%- include("partials/footer"); -%>
                  





                
     




  