<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
<form action="/articles" method="post">



<p>
    <label>
      text<br>
    <input type="text">
    </label>
  </p>
  <p>
    <label>
      custom<br>
    <input type="text">
    </label>
  </p>
  <p>
    <label>
      number<br>
    <input type="number">
    </label>
  </p>
  <p>
    <label>
      email<br>
    <input type="email">
    </label>
  </p>




<p>
    <label>
      date<br>
    <input type="date">
    </label>
    
  </p>






    <p>
        <label>
          select<br>
          <select name="account_type">
            <option value="type 1 ">January</option>
            <option value="type 2">February</option>
            <option value="type 3">March</option>
            <option value="type 4">April</option>
            <option value="type 5">May</option>
            <option value="type 6">June</option>
            <option value="type 7">July</option>
            <option value="type 8">August</option>
            <option value="type 9">September</option>
        </select>
        </label>
      </p>


    </form>
	<!-- <script src="app.js"></script> -->
  </body>
</html>